@import '../static/scss/variables';

.app {
  color: $text-color;
  overflow: hidden;

  @supports (display: grid) {
    display: grid;
    grid-template-areas:
      "header"
      "nav"
      "content";

    @media (min-width: $large-breakpoint) {
      grid-template-areas:
        "header header"
        "nav content";

      grid-template-columns: 1fr 3fr;
    }
  }
}
