$primary: #e0b1e0;
$primary-light: #fcf;
$primary-dark: #bd95bd;
$white: #fef;
$black: #262126;

$dark-rows: $primary;
$light-rows: $primary-light;
$text-color: $black;

$header-bg: $primary;
$caption-bg: $primary;
$nav-bg: $primary;

$nav-hover: $primary-dark;

$font-stack: sans-serif;

$large-breakpoint: 60rem;
