$primary: #d9d;
$primary-light: #fcf;
$primary-dark: #959;
$black: black;

$dark-rows: $primary;
$light-rows: $primary-light;
$text-color: $black;

$header-bg: $primary;
$caption-bg: $primary;
$nav-bg: $primary;

$nav-hover: $primary-dark;

$large-breakpoint: 60rem;

$font-stack: sans-serif;
